.main {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.elements {
    display: flex; 
    flex-direction: column; 
    gap: 15px;
    max-width: 600px;
}

.block {
    margin-top: 25px;
    width: 568px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

.bigIcon {
    transform: scale(1.5);
}

.scroll {
    display: grid;
    gap: 15px;
    max-height: 475px;
    overflow-y: scroll;
    scrollbar-color: #8585AD #2F2F37;
    scrollbar-width: thin;
  }
  
  .scroll::-webkit-scrollbar {
    width: 8px;
    
  }
  .scroll::-webkit-scrollbar-track {
    background: #2F2F37;
  }
  .scroll::-webkit-scrollbar-thumb {
    background-color: #8585AD;
  }