.container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0 12px;
  height: calc(100vh - 80px);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-family: "Jet Brains Mono", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  padding-bottom: 12px;
}

.tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.ingredients {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.category {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.category_title {
  border-bottom: 1px solid #3a3a55;
}

.items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.fixed {
  position: fixed;
}

.total {
  margin-top: 25px;
  border-radius: 15px 15px 0 0;
  box-sizing: border-box;
  background-color: #2f2f37;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 16px;
}

.price {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  margin-right: 10px;
}
