.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #1C1C21;
    height: 88px;
    transition-duration: 0.5s;
}

.nav {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

@media screen and (max-width: 1280px) {
    .header {
        height: 64px;
    }
}

.element {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    cursor: pointer;
    text-decoration: none;
}

.element_leftside {
    composes: element;
}

.element_leftside:first-child {
    margin-right: 8px;
}

.leftside {
    z-index: 1;
    display: flex;
    align-items: center;
}

.center {
    position: absolute;
    z-index: 0;
    width: 100%;
    top: -15px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: default;
}

.rightside {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.active {
    color: white;
}
