.warp {
    display: flex;
    flex-direction: column;
}

.main {
  max-width: 600px;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-left: 16px;
  margin-right: 8px;
}

.tabs {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
}

.scroll {
  min-height: 565px;
  overflow-y: scroll;
  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: thin;
}


