.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
    color: #F2F2F3;
    padding-top: 80px;
}

.number {
    text-shadow: 0 0 16px rgba(51, 51, 255, 0.25),
        0 0 8px rgba(51, 51, 255, 0.25),
        0 4px 32px rgba(51, 51, 255, 0.5);
}

.mark_icon {
    background: url("../../assets/images/done.png");
    width: 120px;
    height: 120px;
    margin-top: 60px;
}

@media screen and (max-width: 1279px) {
    .main {
        padding-top: 24px;
        max-width: 480px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 16px;
        padding-right: 16px;
    }

    .number {
        font-size: 72px;
        line-height: 80px;
        color: var(--accent);
    }

    .main :global .text_type_main-medium {
        font-size: 20px;
        line-height: 24px;
    }

    .main :global .text_type_main-default {
        font-size: 14px;
        line-height: 20px;
    }

    .mark_icon {
        margin-top: 48px;
        margin-bottom: 48px;
    }
}

